@import "tailwindcss";

@theme {
  --color-primary-green: #1DB954;
  --color-dark-base: #121212;
  --color-dark-elevated: #181818;
  --color-dark-card: #282828;
}

body {
  background-color: var(--color-dark-base);
  color: white;
}
